mark {
    background-color: rgba(42, 63, 220, 0.8) !important;
}

.reveal pre code {
    max-height: 600px !important;
}

.container-inline pre {
    display: inline-block !important;
    max-width: 40% !important;
    vertical-align: top;
}
