mark {
    background-color: rgba(200, 0, 255, 0.5) !important;
}

.reveal pre code {
    max-height: 600px !important;
}

.container-inline pre {
    display: inline-block !important;
    max-width: 40% !important;
    vertical-align: top;
}
